* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
}

@media only screen and (max-width: 1400px) {
  body {
    overflow: scroll;
  }
}
